.subscription-container{
    background-color:white;
    padding: 30px;
     color: black;
    text-align: center;
    border-radius: 20px;
    margin: 20px;   
     
}
.btn{
    border-radius: 40px;
    background-color: rgb(105, 156, 233);

}
.container{
    display: flex;
    gap:50px;
    background-color: rgb(105, 156, 233);
    margin: 50px;
}